body {
    margin: 0px;
    padding: 0px;
    background-color: #F5F5DC;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

form {
    background: white;
    width: 650px;
    height: 420px;
    margin: 9% 0px 0px 22%;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    color: mediumseagreen;
    margin: 14px 0;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

input {
    margin: 12px 0;
}

.btn-lg {
    margin: 8px 0;
    cursor: pointer;
    padding: .5rem 5rem;
}
